.pagination {
  @apply flex flex-col gap-2;

  &__help-text {
    @apply inline-flex gap-2;
  }

  &__number {
    @apply font-semibold;
  }

  &__text {
    @apply text-gray-500;
  }

  &__list {
    @apply inline-flex gap-2;
  }
}
