.git/
.gitignore
**/.gitkeep
**/.DS_Store
.dockerignore
Dockerfile*
docker-compose*.yml
README.md

# pass env vars through docker-compose 
# or mount .env* in dev
.env*
prisma/db.dev
dist/

# named volumes
.next/
node_modules/
