.git/
.gitignore
**/.gitkeep
**/.DS_Store
.dockerignore
Dockerfile*
docker-compose*.yml
README.md
certs/

# pass env vars through docker-compose 
# or mount .env* in dev
.env*
dist/

# needed for sqlite
# prisma/db.dev
prisma/pg-data-*

# named volumes
.next/
node_modules/
