node_modules/
.next/
prisma/dev.db
prisma/pg-data-dev/
prisma/pg-data-prod/
prisma/pg-data-test/
certs/
dist/
/**/tsconfig.tsbuildinfo

.env.local
.env.test.local

!uploads/avatars
uploads/avatars/*
!uploads/avatars/avatar0.jpg
!uploads/avatars/avatar1.jpg
!uploads/avatars/avatar2.jpg
!uploads/avatars/avatar3.jpg
!uploads/avatars/placeholder-avatar.jpg

!uploads/headers
uploads/headers/*
!uploads/headers/placeholder-header.jpg
!uploads/headers/header0.jpg
!uploads/headers/header1.jpg
!uploads/headers/header2.jpg
!uploads/headers/header3.jpg
!uploads/headers/header4.jpg

