node_modules/
.next/
prisma/dev.db
.env.local
certs/

!uploads/avatars
uploads/avatars/*
!uploads/avatars/avatar0.jpg
!uploads/avatars/avatar1.jpg
!uploads/avatars/avatar2.jpg
!uploads/avatars/avatar3.jpg
!uploads/avatars/placeholder-avatar.jpg