.button {
  @apply inline-block focus:outline-none transition ease-in-out duration-200 cursor-pointer;

  &--pill {
    @apply rounded-full;
  }

  &--size-sm {
    @apply px-2 py-1 text-sm;
  }

  &--size-base {
    @apply px-4 py-2;
  }

  &--size-lg {
    @apply px-8 py-3 text-lg;
  }

  &--primary {
    @apply focus:ring-2 focus:ring-opacity-50;
    @apply bg-th-primary hover:bg-th-primary-focus focus:ring-th-primary text-th-primary-content;
  }

  &--secondary {
    @apply focus:ring-2 focus:ring-opacity-50;
    @apply bg-th-secondary hover:bg-th-secondary-focus focus:ring-th-secondary text-th-secondary-content;
  }

  &--neutral {
    @apply bg-th-neutral text-th-neutral-content;
    &:hover {
      @apply bg-th-neutral-focus;
    }
    &:focus {
      @apply ring-2 ring-opacity-50 ring-th-neutral;
    }
  }

  &--danger {
    // @apply bg-red-500 hover:bg-red-800 focus:ring-2 focus:ring-red-500 focus:ring-opacity-50 text-white;
    @apply bg-th-error text-th-base-content;
  }

  &--transparent {
    @apply bg-transparent text-current border border-transparent;
    &:hover {
      @apply bg-th-base-content bg-opacity-20 border-opacity-0;
    }
  }

  &--disabled,
  &--disabled:hover {
    @apply cursor-not-allowed;
    @apply bg-th-neutral border-opacity-0 bg-opacity-20 text-th-base-content text-opacity-20;
  }
}
