.user-item {
  @apply flex flex-col border-t border-x;
  @apply border-th-base-200;

  &:hover {
    @apply bg-th-base-content bg-opacity-5;
    .user-item__avatar-container-2 {
      @apply bg-th-base-content bg-opacity-5;
    }
  }

  &:last-child {
    @apply border-b;
  }

  &__user-info {
    @apply relative p-4 pt-10;
  }

  &__avatar-container-1 {
    @apply inline-flex bg-th-base-100; // same bg as layout
    @apply absolute -top-12;
  }

  &__avatar-container-2 {
    @apply inline-block w-full h-full bg-transparent p-2;
  }

  &__first-row {
    @apply flex justify-between;
  }

  &__buttons {
    @apply flex justify-end h-10 -mt-4 gap-2 xs:gap-4; // same hight with and without buttons
  }

  &__header-image {
    @apply h-28 w-full bg-cover bg-center;
  }

  &__name {
    @apply inline;
  }

  &__username {
    @apply text-gray-500;
  }

  &__date {
    @apply text-sm text-gray-500;
  }
}
