@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/tw-base';
@import 'styles/tw-components';
@import 'styles/tw-utilities';

// in base layer
:root {
  --navbar-height: 3.5rem;
  --footer-height: 3.5rem;
  --layout-content-pt: var(--navbar-height);

  // theme
  --background: theme('colors.white');
  --background-secondary: theme('colors.gray.50');

  --primary-dark: theme('colors.gray.900');
  --primary-medium: theme('colors.gray.700');
  --primary-light: theme('colors.gray.500');
}

.dark {
  --background: theme('colors.black');
  --background-secondary: theme('colors.gray.800');

  --accent-dark: theme('colors.fuchsia.900');
  --accent-medium: theme('colors.fuchsia.700');
  --accent-light: theme('colors.fuchsia.500');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
}

.emerald {
  --background: theme('colors.white');

  --accent-dark: theme('colors.emerald.900');
  --accent-medium: theme('colors.emerald.700');
  --accent-light: theme('colors.emerald.500');
}

.pink {
  --background: theme('colors.gray.900');
  --background-secondary: theme('colors.gray.800');

  --accent-dark: theme('colors.pink.900');
  --accent-medium: theme('colors.pink.700');
  --accent-light: theme('colors.pink.500');

  --primary-dark: theme('colors.gray.300');
  --primary-medium: theme('colors.gray.200');
  --primary-light: theme('colors.gray.100');
}

.react-icons {
  vertical-align: middle;
}

// styles for invalied form fields
input.validation-error,
textarea.validation-error {
  @apply border border-red-600;
}

p.validation-error {
  @apply text-red-600 text-sm;
}

div.alert-error {
  @apply p-2 text-red-600 bg-red-200 border border-red-600;
}
