@import 'tailwindcss/base';
@import 'tw-base';

@import 'tailwindcss/components';
@import 'tw-components';

@import 'tailwindcss/utilities';
@import 'tw-utilities';

:root {
  --navbar-height: 3.5rem;
  --footer-height: 3.5rem;
  --layout-content-pt: var(--navbar-height);

  @apply bg-th-base-100 text-th-base-content;
}

.react-icons {
  vertical-align: middle;
}

// styles for invalid form fields
input.validation-error,
textarea.validation-error {
  @apply border border-red-600;
}

p.validation-error {
  @apply text-red-600 text-sm;
}
