@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/tw-base';
@import 'styles/tw-components';
@import 'styles/tw-utilities';

:root {
  --navbar-height: 3.5rem;
  --footer-height: 3.5rem;
  --layout-content-pt: var(--navbar-height);
}

.react-icons {
  vertical-align: middle;
}

// styles for invalied form fields
input.validation-error,
textarea.validation-error {
  @apply border border-red-600;
}

p.validation-error {
  @apply text-red-600 text-sm;
}

div.alert-error {
  @apply p-2 text-red-600 bg-red-200 border border-red-600;
}
