@layer base {
  // todo, tags
  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  a:link {
    @apply text-blue-600;
  }

  a:visited {
    @apply text-purple-600;
  }

  a:hover {
    @apply text-blue-800 underline cursor-pointer;
  }

  a:active {
    @apply text-red-600 underline;
  }
}
