@layer utilities {
  // todo

  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }

  .link-neutral {
    &:link,
    &:visited,
    &:hover,
    &:active {
      @apply text-inherit no-underline;
    }
  }

  .link-primary {
    &:link {
      @apply text-blue-600;
    }
    &:visited {
      @apply text-purple-600;
    }
    &:hover {
      @apply text-blue-800 underline cursor-pointer;
    }
    &:active {
      @apply text-red-600 underline;
    }
  }
}
