@import 'views/Post/Post';
@import 'views/Drafts/Drafts';
@import 'views/Profile/Profile';
@import 'views/Home/Home';
@import 'views/Create/Create';
@import 'views/Settings/Settings';
@import 'views/Auth/Auth';
@import 'views/Users/Users';
@import 'views/NotFound/NotFound';
